.results-image {
  height: 100px;
  width: 100px;
}

header {
  height: 15vh;
  width: auto;
}

main {
  height: 85vh;
  width: auto;
}

#results {
  height: 20vh;
  width: auto;
}

#songs {
  overflow: auto;
  max-height: 70vh;
  width: auto;
}

#preview {
  max-height: 85vh;
  width: auto;
}

#my-music {
  height: 20vh;
  width: auto;
}

#playlist {
  overflow: auto;
  max-height: 70vh;
  width: auto;
}
